/* Header styles */
.watery-header {
    padding: 0;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    height: 80px;
    margin: 2% auto;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4); /* Transparent border */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 20px;
    z-index: 1000;
    width: 96%;
    backdrop-filter: blur(10px); /* Blurry effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  /* Buttons container */
  .header-buttons {
    display: flex;
    align-items: center;
   margin-right:10px;
    background-color:#FFFFFF ;
    padding:10px;
    border-radius: 25px;
    width:300px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* Individual button styles */
  .header-icon-button {
    font-size: 16px;
    margin-left: 16px;
    color: #000; /* White text color */
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .header-icon-button:hover {
    color: #00bcd4; /* Light teal color on hover */
    transform: scale(1.1); /* Slight zoom effect on hover */
  }
  .header-icon-button:nth-child(4){
    background-color: #11047A;
    height:40px;
    width:40px;
    border-radius: 50%;
    color:white;

  }
  