/* .brandStyle{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color, #000); 
    font-weight: bold;
    font-size: 18px;
    background-color: #fefefe; 
    width: 290px;
    border-bottom: 1px solid grey;
    padding: 10px 20px; 
} */
.brandStyle {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000; /* White text for logo */
    font-weight: bold;
    font-size: 18px;
    background-color: #fff; /* Sidebar background color */
    margin-bottom: 16px;
  }